<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% load static %}
        <link rel='stylesheet' href="{% static 'style.css' %}"/>
        <title> {{title}} </title>
    </head>
    <body>
        <div class="page">
            <div class="header">
                <label for="data-type-selector">Select type of data to parse: </label>
                <select id="data-type-selector" style="width: 160px;">
                    {% for loader in loaders %}
                        <option value="{{ loader.name}}">{{ loader.name }}</option>
                    {% endfor %}
                </select>
                <label for="data-content-selector" >Select which file to parse: </label>
                <select id="data-content-selector" style="width: 160px;">
                    {% for file in data %}
                        <option value="{{ file }}">{{ file }}</option>
                    {% endfor %}
                </select>
                <label for="visualizator-type-selector">Select type of visualization: </label>
                <select id="visualizator-type-selector" style="width: 160px;">
                    {% for visualizer in visualizers %}
                    <!-- izmenila sam u visualizer.identifier umesto samo viusalizer-->
                        <option value="{{ visualizer.name }}">{{ visualizer.name }}</option>
                    {% endfor %}
                </select>
                <button id="start-parsing" type="button">Start parse</button>
            </div>
            <div class="graphs">
                <div class="left">
                        <div id="jstree">
                        </div>
                </div>
                <div class="right">
                    {% block graphView %}
                    {% endblock %}
                </div>
            </div>
        </div>
<!-- Include jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://d3js.org/d3.v7.min.js"></script>
<!-- Include jstree library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

<script>

    parsedForest = []
    $("#start-parsing").on("click", function () {
        var visualizer= $("#visualizator-type-selector").val();
        var loader = $("#data-type-selector").val();
        var file = $("#data-content-selector").val();
        var csrf_token = "{{ csrf_token }}";  // Add CSRF token if needed

        console.log("Visualizer: ", visualizer);
        console.log("Loader: ", loader);
        console.log("File: ", file);


        // Make an AJAX request to trigger the simple_visualization view
        $.ajax({
            url: "{% url 'simple_visualization_data_processing' %}",
            method: "POST",
            data: {
                visualizer: visualizer,  // Use the correct ID for visualizer
                loader: loader,
                file: file,
                csrfmiddlewaretoken: csrf_token

            },
            success: function (response) {
                // Handle successful response, e.g., render the visualization
                renderVisualization(response.visualization_data, response.forest);
            },
            error: function (xhr, status, error) {
                // Handle error
                console.error(error);
            }
        });
    });

    // Function to render the visualization data
    function renderVisualization(visualizationData, forest) {
        // Add your visualization rendering code here
        console.log("Visualization data:", visualizationData);
        console.log("Forest: ", forest)
        var trees = [];
        for (var tree of forest) {
            console.log("AFTER JSON PARSE:", JSON.parse(tree));
            trees.push(JSON.parse(tree)); // Add parsed tree to the trees list
        }
        console.log("TREES", trees)
        parsedForest = trees.map(transformData)
        console.log("parsirana suma:",parsedForest)


      // var treeData = [];
      //
      //   for(tree of forest) {
      //       console.log("Drvo svako zasebno:", tree)
      //       createTree(tree, treeData);
      //   }

      // console.log("Tree: ", treeData)

      // Initialize jstree with the created data
      $('#jstree').jstree({
        'core': {
          'data': trees.map(transformData)
        }
      });

    }

    function traverseAllParsedTrees(searchedNodeId){
        var subtree = null
        for (tree in parsedForest){
            subtree = findSubtreeForInsert(tree, searchedNodeId)
            if (subtree != null){
                return subtree
            }
        }
        return subtree
    }

    function findSubtreeForInsert(node, searchedNodeId) {
    var retVal = null;
    // Base case: if the node is null or undefined, return
    if (!node) {
        return;
    }

    if (node.id === searchedNodeId){
        return node;
    }

    // Recursively traverse children nodes
    if (node.children && node.children.length > 0) {
        node.children.forEach(function(child) {
            retVal = findSubtreeForInsert(child);
        });
    }
    return retVal
}

   $('#jstree').on('open_node.jstree', function (e, data) {
    // Get the opened node
        var openedNode = data.node;
        for (let key in openedNode.children){
            let child = openedNode.children[key]
            console.log("deca:", child)
            // if (child.recursive){
            //     console.log("nasao rekurzivno dete")
            //     tochange = traverseAllParsedTrees(child.id)
            //     console.log("====Sub tree koje treba da se ubaci: ", tochange)
            // }
        }

        // Perform actions when the node is opened
        console.log("Node opened:", openedNode);
        console.log("Node opened children:", openedNode.children);

    });

    $('#jstree').on('close_node.jstree', function (e, data) {
        // Get the closed node
        var closedNode = data.node;

        // Perform actions when the node is closed
        console.log("Node closed:", closedNode);
    });

     // Recursively transform JSON data into jstree-compatible format
  function transformData(node) {
        console.log("USLO U DBR FJU")
    var jstreeNode = {
        id: node.id,
        text: node.id,
        recursive: node.recursive,
        children: []
    };

    if (node.children && node.children.length > 0) {
      node.children.forEach(function(child) {
        jstreeNode.children.push(transformData(child));
      });
    }

    return jstreeNode;
  }

     function createTree(data, parent) {
        console.log("USLO U DBR FJU")
      if (data.children) {
        var node = {
          id: data.id.toString(),
          text: data.attributes,
          children: []
        };
        console.log("SINGLE NODE", node)

        // Create children nodes recursively
        data.children.forEach(function(child) {
          createTree(child, node);
        });

        parent.push(node);
      } else {
          console.log("DATA:", data)
        parent.push({
          id: data.id.toString(),
          text: data.attributes
        });
        console.log("PARENT:", parent)
      }
    }


</script>




    </body>
</html>