<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel='stylesheet' href="../static/style.css"/>
<!--    <link rel="stylesheet" href="jstree-master/dist/themes/default/style.min.css" />-->
<!--    <script src="jstree-master/dist/jstree.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

    <title> {{title}} </title>
</head>
<body>
        <div class="page">
            <div class="header">
                <label class="label" for="data-type-selector">Select type of data to parse: </label>
                <select class="select" id="data-type-selector" style="width: 160px;">
                    {% for loader in loaders %}
                        <option class="option" value="{{ loader.name}}">{{ loader.name }}</option>
                    {% endfor %}
                </select>
                <label class="label" for="data-content-selector" >Select which file to parse: </label>
                <select class="select" id="data-content-selector" style="width: 160px;">
                    {% for file in data %}
                        <option class="option" value="{{ file }}">{{ file }}</option>
                    {% endfor %}
                </select>
                <label class="label" for="visualizator-type-selector">Select type of visualization: </label>
                <select class="select" id="visualizator-type-selector" style="width: 160px;">
                    {% for visualizer in visualizers %}
                    <!-- izmenila sam u visualizer.identifier umesto samo viusalizer-->
                        <option class="option" value="{{ visualizer.name }}">{{ visualizer.name }}</option>
                    {% endfor %}
                </select>
                <button class="button" id="start-parsing" type="button">Start parse</button>
                <button class="button" id="reset-button" type="button">Reset</button>


            </div>
            <div class="graphs">
                <div class="left">
                        <div id="jstree">
                        </div>
                </div>
                <div id="right">
                    {% block graphView %}
                    {% endblock %}
                    <div id="graph-container"></div>
                    <button class="button" id="zoom-in-button">Zoom in</button>
                    <button class="button" id="zoom-out-button">Zoom out</button>
                    <button class="button" id="reset-zoom-button">Reset zoom</button>
                    <button class="button" id="pan-left-button">Pan left</button>
                    <button class="button" id="pan-right-button">Pan right</button>

                        <!-- Input field for search query -->
                    <label class="label_query" for="visualizator-type-selector">Input query: </label>

                    <input type="text" id="Query" placeholder="Query: <attribute> <operator> <value>, operators supported: [>, <, ==, >=, <=, !=]">

                    <!-- Button to apply search and filter -->
                    <button onclick="applySearchAndFilter()">Apply</button>


                </div>
            </div>
        </div>


<script>

    parsedForest = []
    $("#start-parsing").on("click", function () {
        var visualizer= $("#visualizator-type-selector").val();
        var loader = $("#data-type-selector").val();
        var file = $("#data-content-selector").val();
        var csrf_token = "{{ csrf_token }}";  // Add CSRF token if needed

        console.log("Visualizer: ", visualizer);
        console.log("Loader: ", loader);
        console.log("File: ", file);


        $.ajax({
            url: "{% url 'simple_visualization_data_processing' %}",
            method: "POST",
            data: {
                visualizer: visualizer,  // Use the correct ID for visualizer
                loader: loader,
                file: file,
                csrfmiddlewaretoken: csrf_token

            },
            success: function (response) {
                renderVisualization(response.visualization_data, response.forest);
                renderVisualization(response.visualization_data);
            },
            error: function (xhr, status, error) {
                // Handle error
                console.error(error);
            }
        });
    });



    function copyNode(nodeId, jstreeInstance) {
        // Get the original node
        var originalNode = jstreeInstance.get_node(nodeId);

        // Clone the original node data
        var clonedData = { ...originalNode.data }; // You may need to adjust this based on your data structure

        // Create a new node with the cloned data
        var newNode = jstreeInstance.create_node(originalNode.parent, clonedData, 'last', function () {
            // Callback function after the new node is created
            console.log('Node copied successfully');
        });

        // If you want to copy children recursively, you can call copyNode recursively for each child node
        originalNode.children.forEach(function(childId) {
            copyNode(childId);
        });
        return newNode;
    }
    function traverseAllParsedTrees(searchedNodeId){
        var subtree = null
        for (let tree of parsedForest){
            subtree = findSubtreeForInsert(tree, searchedNodeId)
            if (subtree != null){
                return subtree
            }
        }
        return subtree
    }
    function findSubtreeForInsert(node, searchedNodeId) {
        var retVal = null;
        // Base case: if the node is null or undefined, return
        if (!node) {
            return;
        }

        if (node.id === searchedNodeId){
            return node;
        }

        // Recursively traverse children nodes
        if (node.children && node.children.length > 0) {
            node.children.forEach(function(child) {
                retVal = findSubtreeForInsert(child);
            });
        }
        return retVal
    }



    $('#jstree').on('open_node.jstree', function (e, data) {
        // Get the opened node
        var openedNode = data.node;
        var jstreeInstance = $('#jstree').jstree(true);

        for (let id of openedNode.children) {
            let child = jstreeInstance.get_node(id);
            console.log("Checking child:", child);
            for (let id2 of child.children){
                let grandchild = jstreeInstance.get_node(id2);
                console.log("Checking grandchild:", grandchild)
                if (grandchild.original.recursive === true){
                    console.log("========NALETEO NA REKURZIVNOG UNUKA!!!!=====")
                    console.log("POCINJE MENJANJE SA POSTOJECIM NODOM")
                    let recursion_existing_id = grandchild.original.recursive_parent_id
                    let recursion_existing_node = jstreeInstance.get_node(recursion_existing_id)
                    console.log("ONAJ KOJI TREBA DA IZMENI REKURZIVNOG UNUKA:", recursion_existing_node)

                    console.log(jstreeInstance.copy_node(openedNode, -1))

                }
            }
        }

        // // Perform other actions when the node is opened
        // console.log("Node opened:", openedNode);
        // console.log("Node opened children:", openedNode.children);

    });

    // Recursively transform JSON data into jstree-compatible format(nodes with its children!)
    function transformData(node) {
        console.log("USLO U DBR FJU")
        var jstreeNode = {
            id: node.id,
            text: node.id,
            recursive: node.recursive,
            children: []
        };

            if (jstreeNode.recursive){
                jstreeNode.recursive_parent_id = jstreeNode.id
                jstreeNode.id = "recursive_" + jstreeNode.id
            }

        if (node.children && node.children.length > 0) {
          node.children.forEach(function(child) {
            jstreeNode.children.push(transformData(child));
          });
        }

        return jstreeNode;
    }


function renderVisualization(visualizationData) {
   console.log("Visualization data:", visualizationData);
        console.log("Forest: ", forest)
        var JSONtrees = [];
        for (var tree of forest) {
            console.log("AFTER JSON PARSE:", JSON.parse(tree));
            JSONtrees.push(JSON.parse(tree)); // Add parsed tree to the trees list
        }
        console.log("JSONTREES", JSONtrees)
        parsedForest = JSONtrees.map(transformData)
        console.log("parsirana suma:",parsedForest)

        $(document).ready(function() {
    // jsTree initialization code here


        // Initialize jstree with the created data
        $('#jstree').jstree({
        'core': {
             'check_callback': function (operation, node, node_parent, node_position, more) {
                    // Check if the operation is copy_node
                    if (operation === 'copy_node') {
                        console.log("uslo u configu gde treba====")
                        return true; // Allow copy_node
                    }
                    // For other operations, return true to allow by default
                    return true;
                },
             'data': JSONtrees.map(transformData)
        }
        });
        });

    }
  //------------------------------------------------------odavde krece tvoje
    console.log(visualizationData)
    d3.select("#graph-container").selectAll("*").remove();
    const svg = d3.select("#graph-container")
        .append("svg")
        .attr("width", "100%")
        .attr("height", "100%")
        .append("g");

    // Add mouseover event for nodes
    const tooltip = d3.select("body").append("div")
        .attr("class", "tooltip")
        .style("opacity", 0);

    let nodeIndex = 0; // Initialize index variable

    const link = svg.append("g")
        .selectAll("line")
        .data(visualizationData.edges)
        .enter().append("line")
        .style("stroke", "#004445")
        .style("stroke-width", "2px");

    const node = svg.append("g")
        .selectAll("g")
        .data(visualizationData.nodes)
        .enter().append("g")
        .on("mouseover", function (event, d) {
            tooltip.transition()
                .duration(200)
                .style("opacity", .9);
            tooltip.html("Hovered node: " + d.id+ "<br/>Attribute: " +  JSON.stringify(d.attributes))
                .style("left", (event.pageX) + "px")
                .style("top", (event.pageY - 28) + "px");
        })
        .on("mouseout", function (d) {
            tooltip.transition()
                .duration(500)
                .style("opacity", 0);
        })
        .call(d3.drag()
            .on("start", dragstarted)
            .on("drag", dragged)
            .on("end", dragended))
        .on("click", function (event, d) { // Show message on node click
            alert("You clicked on node: " + d.id)});


    node.append("circle")
        .attr("r", 8)
        .style("fill", "#fde9df")
        .style("stroke", "#ffd6a4");

    node.append("text") // Append text for node ID
    .attr("dy", -12) // Position text above the circle
    .attr("text-anchor", "middle") // Center text horizontally
    .text(function(d) { return "ID: " + d.id; }); // Set text content to "ID: " followed by the node's ID

    const simulation = d3.forceSimulation(visualizationData.nodes)
        .force("link", d3.forceLink(visualizationData.edges).id(d => d.id))
        .force("charge", d3.forceManyBody())
        .force("center", d3.forceCenter(400, 300))
        .on("tick", ticked);

    function ticked() {
        link
            .attr("x1", d => d.source.x)
            .attr("y1", d => d.source.y)
            .attr("x2", d => d.target.x)
            .attr("y2", d => d.target.y);

        node.attr("transform", d => `translate(${d.x},${d.y})`);
    }

    function dragstarted(event, d) {
        if (!event.active) simulation.alphaTarget(0.3).restart();
        d.fx = d.x;
        d.fy = d.y;
    }

    function dragged(event, d) {
        d.fx = event.x;
        d.fy = event.y;
    }

    function dragended(event, d) {
        if (!event.active) simulation.alphaTarget(0);
        d.fx = null;
        d.fy = null;
    }

    // Add reset button
    const resetButton = d3.select("#reset-button");
    resetButton.on("click", function () {
        svg.selectAll("*").remove();
    });

        let zoom = d3.zoom()
	.scaleExtent([0.25, 10])
	.on('zoom', handleZoom);

    function initZoom() {
        d3.select('svg')
            .call(zoom);
    }
    initZoom();

    function handleZoom(e) {
        d3.select('svg g')
            .attr('transform', e.transform);
    }

    function zoomIn() {
        d3.select('svg')
            .transition()
            .call(zoom.scaleBy, 2);
    }

    function zoomOut() {
        d3.select('svg')
            .transition()
            .call(zoom.scaleBy, 0.5);
    }

    function resetZoom() {
        d3.select('svg')
            .transition()
            .call(zoom.scaleTo, 1);
    }

    function center() {
        d3.select('svg')
            .transition()
            .call(zoom.translateTo, 0.5 * width, 0.5 * height);
    }

    function panRight() {
        d3.select('svg')
            .transition()
            .call(zoom.translateBy, -50, 0);
    }

    function panLeft() {
        d3.select('svg')
            .transition()
            .call(zoom.translateBy, 50, 0);
    }


    // Call the zoom-related functions based on user actions
    document.getElementById('zoom-in-button').addEventListener('click', zoomIn);
    document.getElementById('zoom-out-button').addEventListener('click', zoomOut);
    document.getElementById('reset-zoom-button').addEventListener('click', resetZoom);

    // Call the pan-related functions based on user actions
    document.getElementById('pan-left-button').addEventListener('click', panLeft);
    document.getElementById('pan-right-button').addEventListener('click', panRight);
    document.getElementById('center-button').addEventListener('click', center);


}
function applySearchAndFilter() {
    var filterQuery = document.getElementById('Query').value;

}


</script>
    </body>
</html>