<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel='stylesheet' href="../static/style.css"/>
<!--    <link rel="stylesheet" href="jstree-master/dist/themes/default/style.min.css" />-->
<!--    <script src="jstree-master/dist/jstree.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

    <title> {{title}} </title>
</head>
<body>
        <div class="page">
            <div class="header">
                <label for="data-type-selector">Select type of data to parse: </label>
                <select id="data-type-selector" style="width: 160px;">
                    {% for loader in loaders %}
                        <option value="{{ loader.name}}">{{ loader.name }}</option>
                    {% endfor %}
                </select>
                <label for="data-content-selector" >Select which file to parse: </label>
                <select id="data-content-selector" style="width: 160px;">
                    {% for file in data %}
                        <option value="{{ file }}">{{ file }}</option>
                    {% endfor %}
                </select>
                <label for="visualizator-type-selector">Select type of visualization: </label>
                <select id="visualizator-type-selector" style="width: 160px;">
                    {% for visualizer in visualizers %}
                    <!-- izmenila sam u visualizer.identifier umesto samo viusalizer-->
                        <option value="{{ visualizer.name }}">{{ visualizer.name }}</option>
                    {% endfor %}
                </select>
                <button id="start-parsing" type="button">Start parse</button>
            </div>
            <div class="graphs">
                <div class="left">
                        <div id="jstree">
                        </div>
                </div>
                <div class="right">
                    {% block graphView %}
                    {% endblock %}
                </div>
            </div>
        </div>


<script>

    parsedForest = []
    $("#start-parsing").on("click", function () {
        var visualizer= $("#visualizator-type-selector").val();
        var loader = $("#data-type-selector").val();
        var file = $("#data-content-selector").val();
        var csrf_token = "{{ csrf_token }}";  // Add CSRF token if needed

        console.log("Visualizer: ", visualizer);
        console.log("Loader: ", loader);
        console.log("File: ", file);


        // Make an AJAX request to trigger the simple_visualization view
        $.ajax({
            url: "{% url 'simple_visualization_data_processing' %}",
            method: "POST",
            data: {
                visualizer: visualizer,  // Use the correct ID for visualizer
                loader: loader,
                file: file,
                csrfmiddlewaretoken: csrf_token

            },
            success: function (response) {
                // Handle successful response, e.g., render the visualization
                renderVisualization(response.visualization_data, response.forest);
            },
            error: function (xhr, status, error) {
                // Handle error
                console.error(error);
            }
        });
    });

    // Function to render the visualization data
    function renderVisualization(visualizationData, forest) {
        // Add your visualization rendering code here
        console.log("Visualization data:", visualizationData);
        console.log("Forest: ", forest)
        var JSONtrees = [];
        for (var tree of forest) {
            console.log("AFTER JSON PARSE:", JSON.parse(tree));
            JSONtrees.push(JSON.parse(tree)); // Add parsed tree to the trees list
        }
        console.log("JSONTREES", JSONtrees)
        parsedForest = JSONtrees.map(transformData)
        console.log("parsirana suma:",parsedForest)

        $(document).ready(function() {
    // jsTree initialization code here


        // Initialize jstree with the created data
        $('#jstree').jstree({
        'core': {
             'check_callback': function (operation, node, node_parent, node_position, more) {
                    // Check if the operation is copy_node
                    if (operation === 'copy_node') {
                        console.log("uslo u configu gde treba====")
                        return true; // Allow copy_node
                    }
                    // For other operations, return true to allow by default
                    return true;
                },
             'data': JSONtrees.map(transformData)
        }
        });
        });

    }

    function copyNode(nodeId, jstreeInstance) {
        // Get the original node
        var originalNode = jstreeInstance.get_node(nodeId);

        // Clone the original node data
        var clonedData = { ...originalNode.data }; // You may need to adjust this based on your data structure

        // Create a new node with the cloned data
        var newNode = jstreeInstance.create_node(originalNode.parent, clonedData, 'last', function () {
            // Callback function after the new node is created
            console.log('Node copied successfully');
        });

        // If you want to copy children recursively, you can call copyNode recursively for each child node
        originalNode.children.forEach(function(childId) {
            copyNode(childId);
        });
        return newNode;
    }
    function traverseAllParsedTrees(searchedNodeId){
        var subtree = null
        for (let tree of parsedForest){
            subtree = findSubtreeForInsert(tree, searchedNodeId)
            if (subtree != null){
                return subtree
            }
        }
        return subtree
    }
    function findSubtreeForInsert(node, searchedNodeId) {
        var retVal = null;
        // Base case: if the node is null or undefined, return
        if (!node) {
            return;
        }

        if (node.id === searchedNodeId){
            return node;
        }

        // Recursively traverse children nodes
        if (node.children && node.children.length > 0) {
            node.children.forEach(function(child) {
                retVal = findSubtreeForInsert(child);
            });
        }
        return retVal
    }



    $('#jstree').on('open_node.jstree', function (e, data) {
        // Get the opened node
        var openedNode = data.node;
        var jstreeInstance = $('#jstree').jstree(true);

        for (let id of openedNode.children) {
            let child = jstreeInstance.get_node(id);
            console.log("Checking child:", child);
            for (let id2 of child.children){
                let grandchild = jstreeInstance.get_node(id2);
                console.log("Checking grandchild:", grandchild)
                if (grandchild.original.recursive === true){
                    console.log("========NALETEO NA REKURZIVNOG UNUKA!!!!=====")
                    console.log("POCINJE MENJANJE SA POSTOJECIM NODOM")
                    let recursion_existing_id = grandchild.original.recursive_parent_id
                    let recursion_existing_node = jstreeInstance.get_node(recursion_existing_id)
                    console.log("ONAJ KOJI TREBA DA IZMENI REKURZIVNOG UNUKA:", recursion_existing_node)

                    console.log(jstreeInstance.copy_node(openedNode, -1))

                }
            }
        }

        // // Perform other actions when the node is opened
        // console.log("Node opened:", openedNode);
        // console.log("Node opened children:", openedNode.children);

    });

    // Recursively transform JSON data into jstree-compatible format(nodes with its children!)
    function transformData(node) {
        console.log("USLO U DBR FJU")
        var jstreeNode = {
            id: node.id,
            text: node.id,
            recursive: node.recursive,
            children: []
        };

            if (jstreeNode.recursive){
                jstreeNode.recursive_parent_id = jstreeNode.id
                jstreeNode.id = "recursive_" + jstreeNode.id
            }

        if (node.children && node.children.length > 0) {
          node.children.forEach(function(child) {
            jstreeNode.children.push(transformData(child));
          });
        }

        return jstreeNode;
    }



</script>




    </body>
</html>