.center{
    background: aqua;
}

.header{
    background: rgba(245, 209, 209, 0.78);
    display: flex;
}

.graphs{
    display: flex;
}

.left{
    width: 40%;
    background: burlywood;
}

.right{
    width: 60%;
    background: blueviolet;
}

/* Example CSS for graph styling */
.node {
    /* Define styles for nodes */
}

.edge {
    /* Define styles for edges */
}
